{% extends 'base.html' %}
{% block title %}
    회원가입
{% endblock %}


{% block content %}
    <div style="margin-top: 50px; margin-bottom:50px;">
        <div class="container" style="border: solid 1px; padding-top: 30px; padding-bottom: 50px">
            <h3 class="text-center text-info">회원가입</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <center>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="가입" onclick="">
                    </div>
                </center>
                <script>
                    {% if form.errors %}
                        {% for f in form %}
                            {% for e in f.errors %}
                                alert('{{ e | escape }}')
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </script>
            </form>
        </div>
    </div>
{% endblock %}
